<columns>
    <spacer size="16"></spacer>
    <p class="text-center">&copy; Copyright EMC Advertising<br/>
        <a href="#">hello@nocopyright.com</a> | <a href="#">Manage Email Notifications</a> | <a href="#">Unsubscribe</a></p>
    <center>
        <menu>
            <item><img src="http://placehold.it/25" alt="Social Media Icon"></item>
            <item><img src="http://placehold.it/25" alt="Social Media Icon"></item>
            <item><img src="http://placehold.it/25" alt="Social Media Icon"></item>
            <item><img src="http://placehold.it/25" alt="Social Media Icon"></item>
            <item><img src="http://placehold.it/25" alt="Social Media Icon"></item>
        </menu>
    </center>
</columns>